@import "./styles/DoctorTheme.css";
@import "./styles/DoctorPages.css";
@import "./styles/DoctorLogin.css";

/* Any additional reset or global overrides can go here */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
